@import './variables.css';
@import './type.css';

:root {
	--gutter: 65px;
}

@lost gutter 65px;

:global * {
  box-sizing: border-box;
}

:global body {
  background: var(--color-background);
  color: var(--color-body-copy);
}
