.root {
  border-radius: 6px;
  border: 1px solid;
  color: var(--color-secondary);
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--font-size-iota);
  padding: 1rem;
  text-decoration: none;
  background: transparent;
}

.root:hover {
  opacity: .4;
}

.primary {
  color: var(--color-primary);
}
